@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(31, 32, 37) 100%);
}
header{
    display: flex;
    justify-content: center;

}
header div{
    width: 40%;
    font-family: "Gabarito";
    display:flex;
    align-items: center;
    justify-content: space-between; 
}
header div img{
    width: 12.5%;
    padding: 1%;
    
}
nav{
    display: flex;
    gap: 10%;
    padding-right: 2%;
}
nav a{
    color: white;
    font-size: small;
}
.ministNav a{
    font-size: medium;
}
nav a:hover{
    background-color: rgb(53, 53, 53);
}
hr{
    width: 30%;
    background-color: white;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
main div{
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 12.5%;
}
main div img{
    width: 50%;
}
main div p{
    font-size: 20px;
    width: 70%;
}
main div hr{
    width: 50%;
}
i{
    background-color: rgba(0, 255, 255, 0.295);
}
footer{
    display: flex;
    align-items: center;
    margin-top: 15%;
    width: 100%;
    margin-left: 0%;
    justify-content: center;
    padding-bottom: 2.5%;
}
footer img{
    width: 5%;
}
footer span{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    gap: 2.5%;
}
span a{
    color: white;
}
.fade-in {
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out forwards; /* Animação de 2s */
}
.minH1{
    display: flex;
    justify-content: center;
}
.minH1 h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    
}
.MinContainer{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0 15%;
    align-items: end;
}
.minSpan h2{
    padding-top: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#gps{
    font-size: 23px;
}
.MinContainer div{
    background-color: white;
    border-radius: 0.3rem;
    flex-basis: 100%;
    padding-bottom: 0%;
}
.MinContainer div img{
    width: 100%;
    height: 70%;
    border-radius: 0.3rem;
}

span{
    display: flex;
    justify-content: center;
}
span p{
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
span p i{
    background-color: transparent;
}
.contatoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contatoContainer div{
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 0.2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    gap: 25px;
    margin: 10%;
}
.contatoContainer div li{
    font-size: 20px;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media  screen and (max-width: 600px) {
    header div{
        justify-content: center; 
    }
    header div img{
        display: none;
    }
    nav a{
        font-size: large;
    }
    .ministNav a{
        font-size: x-large;
    }
    .ministNav{
         margin-left: 30%;
        margin-right: 30%;
    }
    hr{
        width:40%;
    }
    .minH1 h1{
        font-size: x-large;
        
    }
    header{
        padding-top: 2.5%;
        padding-bottom: 2%;
        justify-content: center;
    }
    main div{
        width: 90%;
    }
    main div img{
        width: 60%;
    }
    main div p{
        width: 80%;
    }
    nav{
        padding-right: 0%;
        padding: 0%;
    }
    .MinContainer{
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 0 15%;
        flex-direction: column;
        align-items: center;
    }
    #gps{
        font-size: 25.5px;
    }
}